:root {
  color-scheme: light;
}

body {
  background-color: #f9fafb;
  color: #111827;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
